/* SideBar */
.sidebar .nav-link {
  display: inline-block !important;
  padding: 6px 20px 3px 20px;
}
.sidebar .active .nav-link {
    color: #890000;
}
.sidebar .active .nav-link .feather {
  color: inherit;
}
.sidebar{
    box-shadow: initial !important;
    padding: 29px 20px 20px 20px;
    width: 20% !important;
}
.sidebar-sticky{
    margin-top: -36px;
    border-radius: 16px;
    padding: 10px 55px 10px 20px;
    height:100%;
    background-image: linear-gradient(#bab46f, #6e5c37);
}


.dashboard-username {
    float: left;
    font-size: 28px;
    margin: 4px 0 0 19px;
}
.sidebar-title {
    font-family: "Goudy Old Style", Garamond, "Big Caslon";
    font-size: 27px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;
    margin: 0 20px;
    cursor: default;
    display: inline-block;
    border-bottom: 1px solid black;
}

.sidebar-link-text {
    font-family: Perpetua, Baskerville, "Big Caslon", "Palatino Linotype",
    Palatino, "URW Palladio L", "Nimbus Roman No9 L", serif;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 18px;
    font-weight: 700;
    float: left;
}
.owner-extra {
    display: inline-block;
    float: left;
    position: relative;
}

/* Borrow-User view tables*/
.Edit-Delete{
  text-align: center;
}
.first-select-label{
  display:none;
}
tr{
  transition: 0.4s ease;
}
tr:hover {
  background: rgba(189, 248, 251, 0.3) !important;
}
thead tr:hover{
  background: white !important;
}

#logout-item {
    color: #860000;
}



/* Dynamic Loading Elements*/
.Dynamic-Load{
  transition:0.8s ease;
}

th, td {
  text-align: center;
}

.error {
    color: #ffc107;
    font-size: 17px;
}

select{
  color: initial !important;
}



/*My code*/
.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #820000;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #820000;
}
.btn-link {
    font-weight: 400;
    color: #721c24;
    text-decoration: none;
}
.btn-link:hover {
    color: #856404;
    text-decoration: underline;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #ffffff8c;
    background-clip: padding-box;
    border: 1px solid #343a40;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.table {
    font-family: "Goudy Old Style", Garamond, "Big Caslon";
    font-size: 20px;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    background: #ffe7a073;
}
.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #686868;
    vertical-align: middle;
    background-color: #ffffff85;
    border: 1px solid #343a40;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-primary:hover {
    color: #fff;
    background-color: #856404;
    border-color: #ffc107;
}
.btn-primary {
    color: #fff;
    background-color: #721c24;
    border-color: #ffc107;
}
.mb-3, .my-3 {
    font-family: "Goudy Old Style", Garamond, "Big Caslon";
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem!important;
}
label {
    font-size: 20px;
    display: inline-block;
    margin-bottom: .5rem;
}





/* Delete Modal*/
.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #e9fcff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 2.3rem;
    outline: 0;
}


/* Login Page*/
.LoginLogoDiv{
    position: relative;
    width: 100%;
    height: 250px;
}
.login-logo{
    width: 250px;
    position: absolute;
    height: 250px;
    transition: 1s ease-out;
    opacity: 0;
    top: -300px;
    left: calc(50% - 125px);
}

.animate-logo {
    opacity: 1;
    top: 0px;
}

/* Styling */
body, .sidebar {
    background: #490000 !important;
}
.container-fluid{
    padding-right: 30px;
}
/* Main Area */
main {
    background: #ffe49469;
    margin: 29px 0px 20px 0;
    border-radius: 14px;
}

.col-lg-9 {
    flex: 0 0 79% !important;
    max-width: 79% !important;
}

/* Nav Bar */
.navbar-dark{
    background:#1e1e2f;
    padding: 10px 20px !important;
}
a.navbar-brand {
    font-size: 25px;
    text-align: center;
    background: rgba(0,0,0,0);
    color: #fff;
    box-shadow: none;
    padding: 0 20px !important;
}
.navbar-username-holder {
    color: white;
    float:left;
}
span.username-text {
    color: cyan;
}
.navbar-logout-link{
    margin:10px;
    color: lime !important;
}
img.logout-icon {
    width: 30px;
    margin-top: -4px;
    height: 30px;
    float: right;
    filter: invert(1);
}


/* Homepage */
section#home {
    filter: brightness(0.8);
}
a.hoverbutton.global-radius {
    width: 100%;
    height: 100%;
    top: 16px !important;
}
.img-overlay {
    opacity: 0;
}
.gallery-single.fix img {
    width: 350px !important;
    height: 200px !important;
}
/* General */
body, nav.sidebar{
    /*background: #f8f8f8;*/
}
.Float-Left{
    float:left;
}
.Margin-Auto{
    margin:auto;
}
.Margin-Initial{
    margin:initial !important;
}
.Ghost{
    display:none;
}
.display{
    opacity:1;
    z-index: 2000;
}

.ml-sm-auto, .mx-sm-auto {
    margin-left: 20% !important;
}